@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --light-blue: #E5E5E5;
    --dark-green: #1FC11B; 
    --light-green: #05FF00; 
    --grey: #C4C4C4; 
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;

}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    
}

aside {
    box-sizing: border-box;
    float: right;
    height: 100%;
    min-width: 422px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 1ch 2ch 1ch 1ch;
}

#login {
    margin: none;
    display: flex;
    gap: 1ch;
    background-color: white;
}

#login button{
    border-radius: 15px;
    border: none;
    font-size: 25px;
    padding: 5px 10px;
}

#login .login{
    background-color: var(--light-green);
}

#login .sign-out {
    background-color: red;
}

#login .profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 180px;
    background-color: var(--grey);
}

#friends{
    border-radius: 15px;
    background-color: var(--grey);
    height: 100%;

}

#friends h2 {
    text-align: center;
}

#friends-list{
    margin: 10px;
    background-color: white;
    border-radius: 15px;
}

.friend {
    display: flex;
    align-items: center;
}

#friends-list .status{
    height: 20px;
    width: 20px;
    border-radius: 180px;
    margin: 1ch;
}

#friends-list .online {
    background-color: var(--light-green);
}

#friends-list .offline {
    background-color: #C4CDBD;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--light-blue);
    border-radius: 15px;
    margin: 1ch 0 1ch 2ch;
}

section {
    background-color: var(--light-blue);
}

#message-window {
    margin: 0 0 1ch 2ch;
    padding: 1ch;
    padding-left: 4ch;
    border-radius: 15px;
    height: 100%;
}

.message{
    display: flex;
    flex-direction: row;
    gap: 4ch;
    padding-bottom: 1ch;

}

#message-window p, .status, .message{
    margin: 0;
}

#message-input{
    display: flex;
    gap: 1ch;
    margin: 0 0 1ch 2ch;    
    background-color: white;
}

#message-input input[type="text"]{
    width: 100%;
    padding: 10px;
    background-color: var(--light-blue);
    border-radius: 15px;
    border: solid 1px grey;
}

#message-input img{
    height: 30px;
    width: 30px;
    padding: 5px;
}

#message-input button{
    background-color: var(--dark-green);
    border-radius: 180px;
    border: none;
    
}

